<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link rel="stylesheet" href="../static/style.css">
</head>

<body class="bg_body">

  <div class="collapse" id="navbarToggleExternalContent" data-bs-theme="dark">
    <div class="bg-dark p-4">
      <h5 class="text-body-emphasis h4">SAVE CHILD</h5>
      <span class="text-body-secondary">Asset to future growth!!!</span>
      <span><a href=" https://www.mohfw.gov.in/?q=about-us/meet-the-ministers/contact-details"> <i class="fa-solid fa-circle-info" style="color: #999da3;"></i></a></span>
    </div>

  </div>
  <nav class="navbar navbar-dark bg-dark">
    <div class="">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

    </div>
    <div>
      <button class="btn btn-outline-secondary"><a href="{% url 'log'%}" class="text-white">Login</a></button>
      <button class="btn btn-outline-secondary"><a href="{% url 'regs'%}" class="text-white">Register</a></button>
    </div>


  </nav>


  <div class="d-flex justify-content-center align-items-center mt-5 ">
    <div class="card text-bg-secondary mb-3 border shadow-lg p-3 mb-5 bg-body-light rounded" style="max-width: 50rem;">
      <div class="card-header">
        <h1 class="text-center">New Born Baby Care</h1>
      </div>
      <div class="card-body">
        <h5 class="card-title"></h5>
        <p class="card-text">“Our world has become a better place with a new member.”,“Baby was eager to meet us and
          arrived early!”
          ,“Here comes the sunshine of our family!”

          .</p>
      </div>
    </div>
  </div>


  <div class=" card text-bg-secondary mb- border shadow-lg p-3 mb-5 bg-body-light rounded" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-6">
        <img src="https://images.pexels.com/photos/4041803/pexels-photo-4041803.jpeg?auto=compress&cs=tinysrgb&w=600"
          class="img-fluid rounded-start" alt="..." height="100%">
      </div>
      <div class="col-md-6">
        <div class="card-body">
          <h5 class="card-title">"A baby is God's opinion that the world should go on"</h5>
          <p class="card-text">A baby is God's opinion that the world should go on” is a quote by the poet Carl Sandburg. The quote conveys the idea that the birth of a child is a cause for celebration because it represents hope for the future</p>
        </div>
      </div>
    </div>
  </div>




  <div class="d-flex justify-content-end">
    <div class=" card text-bg-secondary mb- border shadow-lg p-3 mb-5 bg-body-light rounded " style="max-width: 540px;">
      <div class="row g-0">
        <div class="col-md-6">
          <div class="card-body">
            <h5 class="card-title">"Babies are such a nice way to start people".</h5>
            <p class="card-text">"Babies are such a nice way to start people." - Don Herald Simple and true! What babies learn in early years helps shape who they will ultimately become.
            </p>
          </div>
        </div>

        <div class="col-md-6">
          <img src="https://images.pexels.com/photos/1912359/pexels-photo-1912359.jpeg?auto=compress&cs=tinysrgb&w=600"
            class="img-fluid rounded-start" alt="..." height="100%">
        </div>

      </div>
    </div>
  </div>




    

      <div class="card-group mt-3">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title">Details</h2>
            <table>

              <tr>
                <th class="text-secondary">Address </th>
              </tr>
              <tr>
                <td>Kannur ,Kerala, India </td>
              </tr>
  
              <th>Contact</th>
              <tr>
                <td> 9447123456</td>
              </tr>
  
              <th>Location</th>
              <tr>
                <td><a
                    href="https://www.google.com/maps/place/Kannur,+Kerala/@11.8666444,75.3698629,15z/data=!4m15!1m8!3m7!1s0x3ba422b9b2aca753:0x380605a11ce24f6c!2sKannur,+Kerala!3b1!8m2!3d11.8744775!4d75.3703662!16zL20vMDc0eXlz!3m5!1s0x3ba422b9b2aca753:0x380605a11ce24f6c!8m2!3d11.8744775!4d75.3703662!16zL20vMDc0eXlz?entry=ttu&g_ep=EgoyMDI1MDEwNi4xIKXMDSoASAFQAw%3D%3D">Location</a>
                </td>
              </tr>
              
            </table>
          </div>
        </div>


        <div class="card ">
          <div class="card-body" >
            <h2 class="card-title underline"><u>About US</u></h2>
            <h3>We champion health and a better future for all</h3>
            <p class="card-text">Dedicated to the well-being of all people and guided by science, the World Health Organization leads and champions global efforts to give everyone, everywhere an equal chance to live a healthy life..</p>
          </div>
        </div>


        <div class="card">
          <div class="card-body">
            <h2 class="card-title text-center"><u>Query</u> </h2>

            <a href="{% url 'doubt' %}">
              <button type="submit" class="fs-1 mb-3 ms-5 btn btn-secondary d-inline-flex focus-ring py-1 px-2 text-decoration-none border rounded-2" >
                  
                Contact us   </button>
          </a>

            
            
          </div>
        </div>
      </div>
    </div>


    <div class="card ">
      <div class="card-body" >
        
        <p class="card-text text-center"><b>Sinces 1987</b> </p>
      </div>
    </div>











</body>

</html>